.footer
  %ul
    %li プライバシーポリシー
    %li メルカリ利用規約
    %li 特定商取引に関する表記
      
  .footer__logo
    = image_tag "/logo-white.png", alt: "Rails icon", class: "image", width: "185px", height: "49px"
      
  .footer__copy
    %small © FURIMA, inc.